<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <img src="img/InMarket-Logo.svg" alt="logo" width="300px">
      <h1 class="display-4">Efraim urel palodang</h1>
      <p class="lead">Mahasiswa | Programmer</p>
    </div>
  </div>
</div>